body {
  padding-top: 120px;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

#navBar {
  height: 120px;
  -webkit-box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.24);
}

.navbar-brand {
  font-size: 45px;
}

#nav-content {
  font-size: 25;
}

.fab,
.fas {
    margin-right: 10px;
}

.grow { 
  transition: all .2s ease-in-out;
  margin: 10px 20px;
}
.grow:hover { transform: scale(1.1); }

.intro {
  background-image: url('AppFlow.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
}

.intro-text {
  background-color: rgba(0, 0, 0, .7);
  padding: 30px 15px;
  border-radius: 10px;
}
.intro-text h2 {
  font-size: 2.2rem;
}
@media screen and (min-width: 768px) {
  .intro-text {
      padding: 40px 100px;
  }
  .intro-text h2 {
      font-size: 3.5rem;
  }
}

.get-button {
  width: 300px;
}

#title {
  font-weight: bold;
}

.desc {
  text-indent: 20px;
  margin: 1em 0;
  ;
}

.card {
  box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.24);
}

.install {
  transition: all .5s ease-in-out;
  max-height: 100px;
  overflow: hidden;
  opacity:0.5;
}

.install:hover {
  max-height: 1000px;
  opacity: 1;
}

#footer {
  padding-bottom: 20px;
  height: 80px;
}